@media screen and (max-width:800px) {
   body { margin: 0; }
   #sign_in, #ima_1, #text_1, #text_2, #sign_up, #text_3, #sign_out, #ima_2, #ima_3, #about, #telephone { position: absolute; } 
   #sign_in, #ima_1, #text_1, #text_2, #sign_up, #text_3, #sign_out, #ima_2, #ima_2, #about, #telephone { overflow: auto; padding: 10px; }

   #sign_in {
    top: 13%; /* Расстояние от верхнего края */
    left: 11%; /* Расстояние от левого края */ 
    bottom: 0; right: 0;
   }

    #sign_up {
    top: 13%; /* Расстояние от верхнего края */
    left: 24%; /* Расстояние от левого края */ 
    bottom: 0; right: 0;
   }

    #telephone {
    top: 97%; /* Расстояние от верхнего края */
    left: 55%; /* Расстояние от левого края */ 
    bottom: 10; right: 0;
   }

    #ima_1 {
    top: 5%; /* Расстояние от верхнего края */
    left: 70%; /* Расстояние от левого края */ 
    bottom: 0; right: 0;
   }

      .layer1 {
    font: 12pt sans-serif;  
   } 
  h1 { font-family: 'Nunito', sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }
  h2 {font-family: 'Nunito', sans-serif;}
  h3 { font-family: Quicksand; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; }
  h4{font-family: 'Nunito', sans-serif;}

   h1 { 
    font-size: 300%; /* Размер шрифта в процентах */ 
   } 

   h2 { 
    font-size: 301%; /* Размер шрифта в процентах */ 
   } 

    #text_1 {
    top: 30%; /* Расстояние от верхнего края */
    left: 10%; /* Расстояние от левого края */ 
    bottom: 0; right: 0;
   }

    #text_2 {
    top: 4%; /* Расстояние от верхнего края */
    left: 10%; /* Расстояние от левого края */ 
    bottom: 0; right: 0;
   }

    #text_3 {
    top: 30%; /* Расстояние от верхнего края */
    left: 20%; /* Расстояние от левого края */ 
    bottom: 0; right: 0;
   }

    .black_color {
    color:black;
   }
    .gray_color {
    color:#1b5e34;
   }
}

@media screen and (min-width:800px) {
     body { margin: 0; }
   #sign_in, #ima_1, #text_1, #text_2, #sign_up, #text_3, #sign_out, #ima_2, #ima_3, #about, #telephone { position: absolute; } 
   #sign_in, #ima_1, #text_1, #text_2, #sign_up, #text_3, #sign_out, #ima_2, #ima_2, #about, #telephone { overflow: auto; padding: 10px; }

   #sign_in {
    top: 6%; /* Расстояние от верхнего края */
    left: 63%; /* Расстояние от левого края */ 
    bottom: 0; right: 0;
   }

    #sign_up {
    top: 6%; /* Расстояние от верхнего края */
    left: 70%; /* Расстояние от левого края */ 
    bottom: 0; right: 0;
   }

    #telephone {
    top: 100%; /* Расстояние от верхнего края */
    left: 55%; /* Расстояние от левого края */ 
    bottom: 10; right: 0;
   }

    #ima_1 {
    top: 65%; /* Расстояние от верхнего края */
    left: 80%; /* Расстояние от левого края */ 
    bottom: 0; right: 0;
   }


      .layer1 {
    font: 12pt sans-serif;  
   } 
  h1 { font-family: 'Nunito', sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }
  h2 {font-family: 'Nunito', sans-serif;}
  h3 { font-family: Quicksand; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; }
  h4{font-family: 'Nunito', sans-serif;}

   h1 { 
    font-size: 300%; /* Размер шрифта в процентах */ 
   } 

   h2 { 
    font-size: 301%; /* Размер шрифта в процентах */ 
   } 

    #text_1 {
    top: 30%; /* Расстояние от верхнего края */
    left: 10%; /* Расстояние от левого края */ 
    bottom: 0; right: 0;
   }

    #text_2 {
    top: 4%; /* Расстояние от верхнего края */
    left: 10%; /* Расстояние от левого края */ 
    bottom: 0; right: 0;
   }

    .black_color {
    color:black;
   }
    .gray_color {
    color:#1b5e34;
   }
}